@import "tailwindcss";  


 /* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  background: rgb(172,252,255);
background: linear-gradient(90deg, rgba(172,252,255,0.5970763305322129) 0%, rgba(230,230,230,0.6250875350140056) 51%, rgba(172,255,254,0.5746673669467788) 100%);
}

